# functions/ingestor/.gitignore

# Gradle files
.gradle/
build/
out/

# IDE files (add others like .idea/ or *.iml if needed)
.DS_Store
*.classpath
*.project
*.settings

# Log files
*.log

# Secrets / Env files
.env
